body {
    background-image: url(/image/background.png);
    background-position: center center;
    background-size:100% 100%;
    background-attachment:fixed;
    background-size: cover;
    background-color: #464646;
    margin:0px;
}

.container {
  position: absolute;
  top: 10px;
  left: 20px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.htmlhead {
  font-size: xx-large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-right: auto;
  margin-left: 30px;
  left: 30px;
  position: relative;
}

.head {
  cursor: pointer;
  border-radius: 50%; /* 添加圆角 */
  margin-left: auto;
  margin-right: 20px;
  position: absolute;
  top: 15px;
  left: 0;
}


.animation-container {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    z-index: 10;
    transform: translate(-50%, -50%);
    opacity: 0; /* 初始时文本不可见 */
    animation: fade-in 1.5s ease-in-out forwards; /* 渐入动画 */
}

.welcome-text {
    font-size: 80px; /* 更大的字号 */
    @media (max-width: 768px) {
        font-size: 40px !important; /* 在小屏幕上减小字号 */
    }
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* 与 "her3" 位置的字体相同 */
    font-weight: bold; /* 加粗 */
    margin-bottom: 0;
}

.welcome-text-subtitle {
    font-size: 30px; /* 更大的字号 */
    @media (max-width: 435px) {
        font-size: 20px !important; /* 在小屏幕上减小字号 */
    }
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* 与 "her3" 位置的字体相同 */

}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%); /* 初始位置 -50%水平居中，-60%垂直偏上 */
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%); /* 终点位置 -50%水平居中，-50%垂直居中 */
    }
}

.codeRepoIcon {
    position: relative;
    top: 30px;
    margin-left: 97%;
    right: 20px;
}

.RepoIcon {
    position: relative;
    right: 20px;
}

.codeRepoDesc {
    position: absolute;
    right: 15px;
    top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}