body {
    background-image: url(/image/background.png);
    background-position: center center;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    margin: 0px;
}

.container {
    position: absolute;
    top: 10px;
    left: 20px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.htmlhead {
    cursor: pointer;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: auto;
    margin-left: 30px;
    left: 30px;
    position: relative;
}

.head {
    cursor: pointer;
    border-radius: 50%;
    /* 添加圆角 */
    margin-left: auto;
    margin-right: 20px;
    position: absolute;
    top: 15px;
    left: 0;
}

.animation-container {
    cursor: default;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    z-index: 10;
    transform: translate(-50%, -50%);
    opacity: 0;
    /* 初始时文本不可见 */
    animation: fade-in 2.0s ease-in-out forwards;
    /* 渐入动画 */
}

.welcome-text {
    font-size: 80px;

    /* 更大的字号 */
    @media (max-width: 768px) {
        font-size: 40px !important;
        /* 在小屏幕上减小字号 */
    }

    font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;
    /* 与 "her3" 位置的字体相同 */
    font-weight: bold;
    /* 加粗 */
    margin-bottom: 0;
}

.welcome-text-subtitle {
    font-size: 30px;

    /* 更大的字号 */
    @media (max-width: 435px) {
        font-size: 20px !important;
        /* 在小屏幕上减小字号 */
    }

    font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;
    /* 与 "her3" 位置的字体相同 */

}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%);
        /* 初始位置 -50%水平居中，-60%垂直偏上 */
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
        /* 终点位置 -50%水平居中，-50%垂直居中 */
    }
}

.codeRepoIcon {
    position: relative;
    top: 30px;
    margin-left: 97%;
    right: 20px;
}

.codeRepoDesc {
    cursor: pointer;
    position: relative;
    right: 70px;
    top: -15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.RepoIcon {
    cursor: pointer;
    position: relative;
    top: -65px;
    width: 40px;
}

.biliIcon {
    cursor: pointer;
    position: fixed;
    bottom: 10px;  /* 调整这个值来改变元素距离底部的距离 */
    left: 40%;  /* 将元素的左边界设置在屏幕的中间 */
    transform: translateX(-50%);  /* 将元素向左移动自身宽度的一半，以确保元素的中心与屏幕的中心对齐 */
    width: 30px;
    z-index: 1; /* 添加一个较小的 z-index 值，使其位于另一个元素之上 */
}

.githubIcon {
    cursor: pointer;
    position: fixed;
    bottom: 10px;  /* 调整这个值来改变元素距离底部的距离 */
    right: 40%;  /* 将元素的右边界设置在屏幕的中间 */
    transform: translateX(50%);  /* 将元素向右移动自身宽度的一半，以确保元素的中心与屏幕的中心对齐 */
    width: 30px;
    z-index: 1; /* 添加一个较小的 z-index 值，使其位于另一个元素之上 */
}

.footer-text {
    cursor: default;
    position: fixed;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* BEGIN: Responsive Styles */

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .htmlhead {
        margin-left: 10px;
    }

    .head {
        top: 10px;
        right: 0;
        left: auto;
        margin-right: 10px;
    }

    .animation-container {
        top: 40%;
    }

    .welcome-text {
        font-size: 40px !important;
    }

    .welcome-text-subtitle {
        font-size: 20px !important;
    }

    .codeRepoIcon {
        margin-left: 90%;
    }

    .codeRepoDesc {
        right: 20px;
        top: -5px;
    }

    .RepoIcon {
        top: -55px;
    }

    .biliIcon {
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .githubIcon {
        bottom: 20px;
        right: 50%;
        transform: translateX(50%);
    }

    .footer-text {
        bottom: -25px;
    }
}

@media (max-width: 435px) {
    .welcome-text {
        font-size: 30px !important;
    }

    .welcome-text-subtitle {
        font-size: 15px !important;
    }
}

/* END: Responsive Styles */


.animation-container {
    background: rgba(255, 255, 255, 0.5);  /* 半透明的白色背景 */
}