body {
    position: relative;
    height: 100vh;
    background-color: #e0e0e0; /* 高级灰色 */
}

.container {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.htmlhead {
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: auto;
    margin-left: 20px;
}

.head {
    cursor: pointer;
    border-radius: 50%; /* 添加圆角 */
    margin-left: auto;
    margin-right: 20px;
}

.animation-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; /* 初始时文本不可见 */
    animation: fade-in 1.5s ease-in-out forwards; /* 渐入动画 */
}

.welcome-text {
    font-size: 80px; /* 更大的字号 */
    @media (max-width: 768px) {
        font-size: 40px !important; /* 在小屏幕上减小字号 */
    }
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* 与 "her3" 位置的字体相同 */
    font-weight: bold; /* 加粗 */
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%); /* 初始位置 -50%水平居中，-60%垂直偏上 */
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%); /* 终点位置 -50%水平居中，-50%垂直居中 */
    }
}

.social-buttons {
    text-align: center;
    margin-top: 20px;
}

.social-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #007BFF; /* 按钮背景颜色 */
    color: #fff; /* 按钮文字颜色 */
    text-decoration: none; /* 去除下划线 */
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 添加过渡效果 */
    width: 100px; /* 按钮宽度 */
    height: 40px; /* 按钮高度 */
    }

.social-button:hover {
    background-color: #0056b3; /* 按钮背景颜色（悬停状态） */
}
